/* GLOBAL */
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #0d1117;
  color: #e6e6e6;
}

a {
  color: #3b82f6;
  text-decoration: none;
}

nav {
  width: 100%;
  padding: 18px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0,0,0,0.35);
  backdrop-filter: blur(14px);
  position: sticky;
  top: 0;
}

.logo {
  font-size: 26px;
  font-weight: 700;
}

.logo span {
  color: #3b82f6;
}

.nav-right a {
  margin-left: 35px;
  color: #e6e6e6;
  font-size: 15px;
  opacity: .85;
}

.nav-right a:hover {
  opacity: 1;
}

/* AUTH CARD */
.auth-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
}

.auth-card {
  background: #141a22;
  padding: 45px 40px;
  width: 360px;
  border-radius: 14px;
  border: 1px solid #1f2731;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.auth-card h2 {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 24px;
  text-align: center;
  color: white;
}

.label {
  margin-bottom: 8px;
  font-size: 14px;
  color: #c2c9d1;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #2a3441;
  background: #0f141a;
  color: #e6e6e6;
  font-size: 15px;
  margin-bottom: 18px;
}

button {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  margin-top: 10px;
  background: #3b82f6;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
}

button:hover {
  background: #1d61ce;
}

.auth-footer {
  margin-top: 18px;
  font-size: 14px;
  text-align: center;
  color: #9aa4b3;
}
